/********************TAG SELECTORS********************/

body {
  margin: 0;
  text-align: center;
  font-family: verdana, helvetica, sans-serif;
  font-size: 1.1em;
  background-color: #f1d9d9;
}

/*margin 0 auto 0 auto will align to center horizontal. auto 0 auto 0 vertical*/
h1 {
  margin: 0 auto 0 auto;
  font-family: 'Pacifico', cursive;
  color: #b64444;
  font-size: 3rem;
  line-height: 2;
  position: relative;
  z-index: +1;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  color: #7f4848;
  font-size: 2rem;
  position: relative;
  z-index: +1;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  color: #7f4848;
  margin-top: 15px;
}

hr {
  margin-top: 50px;
  margin-bottom: 50px;
}

hr {
  border-style: dotted none none none;
  border-color: #f1d9d9;
  border-width: 7px;
  width: 7%;
}

p {
  font-family: 'Cabin', sans-serif;
  color: #7D5A5A;

  line-height: 2;
}

li{
  font-family: 'Cabin', sans-serif;
  color: #7D5A5A;
  text-align: start;
  line-height: 2;
}

a {
  color: #7D5A5A;
  margin: 0 20px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

label {
  font-family: 'Cabin', sans-serif;
  color: #7D5A5A;

  line-height: 2;
}

form {
  background-color: #f3e1e1;
}

/********************CLASS SELECTORS********************/
.bottom {
  background-color: #f1d1d1;
  padding-top: 50px;
  padding-bottom: 20px;
}

.btn {
  background: #FAF2F2;
  background-image: -webkit-linear-gradient(top, #FAF2F2, #F1D1D1);
  background-image: -moz-linear-gradient(top, #FAF2F2, #F1D1D1);
  background-image: -ms-linear-gradient(top, #FAF2F2, #F1D1D1);
  background-image: -o-linear-gradient(top, #FAF2F2, #F1D1D1);
  background-image: -webkit-gradient(to bottom, #FAF2F2, #F1D1D1);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #7f4848;
  font-family: Verdana;
  font-size: 1em;
  font-weight: 100;
  padding: 10px 20px;
  border: solid #7f4848 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-top: 50px;
}

.btn:hover {
  border: solid #FFE5E5 5px;
  background: #FFE5E5;
  background-image: -webkit-linear-gradient(top, #FFE5E5, #EDAAAA);
  background-image: -moz-linear-gradient(top, #FFE5E5, #EDAAAA);
  background-image: -ms-linear-gradient(top, #FFE5E5, #EDAAAA);
  background-image: -o-linear-gradient(top, #FFE5E5, #EDAAAA);
  background-image: -webkit-gradient(to bottom, #FFE5E5, #EDAAAA);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.middle {
  background-color: #f3e1e1;
  margin: 0 auto 0 auto;
  padding-top: 50px;
  padding-bottom: 100px;
}

.longlist{
  box-sizing: content-box;
}

.section {
  display: inline-block;
  border: solid #7f4848 3px;
  border-radius: 20px;
  padding: 35px;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 #7f4848;
  margin: 2% 10px;
}



.top {
  background-color: #faf2f2;
  background-image: linear-gradient(180deg, #faf2f2, #f3e1e1, #f3e1e1, #f3e1e1, #f3e1e1, #f3e1e1);
  position: relative;
  padding-top: 100px;
}
